{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h2>Film (catégorie) (vu ou avoir)</h2>
    <ul>
        <li>Titre1</li>
        <li>Titre2</li>
        <li>Titre3</li>
        <li>Titre4</li>
        <li>Titre5</li>
    </ul>
</div>
{% endblock %}